//font
  $font: jost;
//colors
  $justwhite:       #ffffff;
  $pureblack:       #000000;
  $bg-color:        #1f1f1f;
  $lightblack:      #3d3d3d;
  $almostblack:     #252525;
  $darkerblack:     #1f1f1f;
 
